
experiments/.ipynb_checkpoints/

exercises/coursera - michigan - data science/.ipynb_checkpoints/

experiments/kaggle/datasets/

experiments/kaggle/.ipynb_checkpoints/

experiments/_lead/Sales_Transactions_Dataset_Weekly.csv

experiments/_mining/.ipynb_checkpoints/

experiments/_lead/.ipynb_checkpoints/

experiments/_finances/stock_dfs/
